{% extends 'base.html' %}

{% block title %}Group Class{% endblock %}

{% block content %}

<div class="container-fluid pt-3 bg-body-tertiary">
    <div class="container">
        <div>
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="{{url_for('adminDashboardFunc.adminDashboard')}}">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Group Class</li>
                </ol>
            </nav>
        </div>


        <!-- go back to dashboard icon -->
        <!-- <div>
            <a href="{{ url_for('adminDashboardFunc.adminDashboard')}}">
                <svg xmlns="http://www.w3.org/2000/svg" class="custom-back" width="30" height="30" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                </svg>
            </a>
        </div> -->

        <!-- add an group class -->
        <div class="d-flex justify-content-end align-items-center">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addGroupClass">
                <div class="d-flex justify-content-between align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-person-plus mx-2" viewBox="0 0 16 16">
                        <path
                            d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                        <path fill-rule="evenodd"
                            d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                    </svg>
                    <span class="d-none d-lg-block">Add an aqua aerobic class</span>
                </div>
            </button>

            <div class="modal fade" id="addGroupClass" tabindex="-1" aria-labelledby="addClass" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5">Add a aqua aerobic class</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="{{ url_for('adminDashboardFunc.aqua')}}" method="POST"
                                class="needs-validation form-feedback" id="add-class" novalidate>
                                <div class="row g-3 mb-2">

                                    <div class="col-12">
                                        <label for="sessionName" class="form-label">Class</label>
                                        <input type="text" name="sessionName" class="form-control" id="sessionName"
                                            maxlength="100" required>
                                        <div class="invalid-feedback">
                                            Please type the class name.
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <label for="instructor" class="form-label">Instructor</label>
                                        <select class="form-select" name="instructor" id="instructor"
                                            aria-label="instructor" required>
                                            <option value="" disabled selected>Choose...</option>
                                            {% for i in instructorList%}
                                            <option value="{{i['userID']}}">{{i['firstName']}}</option>
                                            {%endfor%}
                                        </select>
                                        <div class="invalid-feedback">
                                            Please choose a valid instructor.
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <label for="duration" class="form-label">Duration</label>
                                        <select class="form-select" name="duration" id="duration" aria-label="duration"
                                            required>
                                            <!-- <option value="30">30 min</option> -->
                                            <option value="60" selected>60 min</option>
                                        </select>
                                    </div>

                                    <div class="col-sm-6">
                                        <label for="maxParticipants" class="form-label">Max Participant</label>
                                        <input type="text" name="maxParticipants" class="form-control"
                                            id="maxParticipants" maxlength="2" value="30">
                                        <div class="invalid-feedback">
                                            Please enter a valid number.
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <label for="sessionTime" class="form-label">Date</label>
                                        <input type="date" class="form-control" id="sessionTime" name="sessionTime"
                                            placeholder="date" required>
                                        <div class="invalid-feedback">
                                            Please enter a valid date.
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <label for="sessionTime2" class="form-label">Time (Whole hour or half only, 5 am
                                            to 9:00 pm)</label>
                                        <input type="time" class="form-control" id="sessionTime2" name="sessionTime2"
                                            step="1800" placeholder="" min="05:00" max="21:00" required>
                                        <div class="invalid-feedback">
                                            Please enter a valid time.
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <label for="pool" class="form-label">Pool</label>
                                        <select class="form-select" name="pool" id="pool" aria-label="pool" required>
                                            <option value="" disabled selected>Choose...</option>
                                            {% for i in poolList%}
                                            <option value="{{i['poolID']}}">{{i['poolType']}}</option>
                                            {%endfor%}
                                        </select>
                                    </div>

                                </div>
                                <div class="modal-footer my-2">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary" id="submitButton">Add the
                                        class</button>

                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- finish adding group class -->


        <div class="table-responsive mt-4">
            <table class="table mt-2">
                <thead>
                    <tr>
                        <th>Schedule ID</th>
                        <th>Class</th>
                        <th>Instructor</th>
                        <th>Duration (min)</th>
                        <th>Date</th>
                        <th>Max Capacity</th>
                        <th>Pool</th>
                        <th>Status</th>
                        <th>Operation</th>

                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for class in aquaList %}
                    <tr>
                        <td>{{class['scheduleID']}}</td>
                        <td>{{class['sessionName']}}</td>
                        <td><a
                                href="{{url_for('adminDashboardFunc.checkProfile',userId= class['instructorID'])}}">{{class['instructorName']}}</a>
                        </td>
                        <td>{{class['lessonDuration']}}</td>
                        <td>{{class['sessionTime']}}</td>
                        <td>{{class['maxParticipants']}}</td>
                        <td>{{class['poolName']}}</td>
                        {% if class['bookingActive'] == 1 %}
                        <td>Active</td>
                        {%else%}
                        <td>Cancelled</td>
                        {%endif%}



                        <td>
                            <!-- Aqua class atendee -->
                            <button type="button" class="btn text-primary px-2 mx-0" data-bs-toggle="modal"
                                data-bs-target="#attendee{{class['scheduleID']}}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                    class="bi bi-file-earmark-person" viewBox="0 0 16 16">
                                    <path d="M11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                    <path
                                        d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2v9.255S12 12 8 12s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h5.5v2z" />
                                </svg>
                            </button>

                            <div class="modal fade" id="attendee{{class['scheduleID']}}" tabindex="-1"
                                aria-labelledby="groupClass" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable">
                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="editGroupClass">Class Attendees
                                            </h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>

                                        <div class="modal-body">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">User ID</th>
                                                        <th scope="col">Name</th>
                                                        <th>Attendance</th>
                                                        <th>Status</th>
                                                        <th scope="col">Operation</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for attendee in class['classAttendee'] %}
                                                    <tr>
                                                        <th scope="row">{{attendee['userID']}}</th>
                                                        <td>{{attendee['firstName']}} {{attendee['lastName']}}</td>
                                                        {% if attendee['bookingAttend'] == False %}
                                                        <td>No</td>
                                                        {%else%}
                                                        <td>Yes</td>
                                                        {%endif%}
                                                        {% if attendee['bookingActive'] == 1 %}
                                                        <td>Booked</td>


                                                        <td>
                                                            <form
                                                                action="{{ url_for('adminDashboardFunc.deleteAquaClassAttendee') }}"
                                                                method="POST"
                                                                class="needs-validation edit-user form-feedback"
                                                                id="deleteButtondelete{{attendee['bookingID']}}"
                                                                novalidate>
                                                                <div class="row g-3 mb-2">
                                                                    <input type="hidden" name="originalAquaBookingID"
                                                                        value="{{attendee['bookingID']}}" readonly>
                                                                    <input type="hidden" name="originalClassName"
                                                                        value="{{class['sessionName']}}" readonly>
                                                                    <input type="hidden" name="originalUserID"
                                                                        value="{{attendee['userID']}}" readonly>

                                                                </div>





                                                                <button type="submit" class="btn text-danger px-2 mx-0">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20"
                                                                        height="20" fill="currentColor"
                                                                        class="bi bi-trash3" viewBox="0 0 16 16">
                                                                        <path
                                                                            d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                                                    </svg>
                                                                </button>
                                                            </form>


                                                            <div class="my-2">
                                                                <form
                                                                    action="{{ url_for('adminDashboardFunc.attendanceAquaClass') }}"
                                                                    method="POST"
                                                                    class="needs-validation edit-user form-feedback"
                                                                    id="attendButtondelete{{attendee['bookingID']}}"
                                                                    novalidate>
                                                                    <div class="row g-3 mb-2">
                                                                        <input type="hidden"
                                                                            name="originalAquaBookingID2"
                                                                            value="{{attendee['bookingID']}}" readonly>

                                                                    </div>





                                                                    <button type="submit"
                                                                        class="btn btn-primary btn-sm px-2 mx-0">
                                                                        Check in
                                                                    </button>
                                                                </form>
                                                            </div>


                                                        </td>
                                                        {%else%}
                                                        <td>Cancelled</td>
                                                        <td>---</td>
                                                        {%endif%}
                                                    </tr>
                                                    {%endfor%}
                                                </tbody>

                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <!-- Edit aqua class -->
                            {% if class['bookingActive'] == 1 %}
                            <button type="button" class="btn text-primary px-2 mx-0" data-bs-toggle="modal"
                                data-bs-target="#editGroupClassForm{{class['scheduleID']}}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                    class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path
                                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                    <path fill-rule="evenodd"
                                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                </svg>
                            </button>

                            <div class="modal fade" id="editGroupClassForm{{class['scheduleID']}}" tabindex="-1"
                                aria-labelledby="groupClass" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable">
                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="editGroupClass">Edit Aqua aerobic Class
                                            </h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>

                                        <div class="modal-body">
                                            <form action="{{ url_for('adminDashboardFunc.aqua')}}" method="POST"
                                                class="needs-validation edit-user form-feedback"
                                                id="editGroupClassForm{{class['scheduleID']}}" novalidate>
                                                <div class="row g-3 mb-2">
                                                    <input type="hidden" name="originalID"
                                                        value="{{class['scheduleID']}}" readonly>

                                                    <div class="col-12">
                                                        <label for="sessionName" class="form-label">Class</label>
                                                        <input type="text" name="sessionName" class="form-control"
                                                            id="sessionName" maxlength="100" required
                                                            value="{{class['sessionName']}}">
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <label for="instructor" class="form-label">Instructor</label>
                                                        <select class="form-select" name="instructor" id="instructor"
                                                            aria-label="instructor" required
                                                            value="class['instructorID']">
                                                            {% for i in instructorList%}
                                                            {%if i['userID'] == class['instructorID'] %}
                                                            <option value="{{i['userID']}}" readonly>{{i['firstName']}}
                                                            </option>
                                                            {%endif%}
                                                            {%endfor%}
                                                        </select>
                                                        <div class="invalid-feedback">
                                                            Please choose a valid instructor.
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <label for="duration" class="form-label">Duration</label>
                                                        <select class="form-select" name="duration" id="duration"
                                                            aria-label="duration" required
                                                            value="{{class['lessonDuration']}}">
                                                            <option value="30">30 min</option>
                                                            <option value="60" selected>60 min</option>
                                                        </select>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <label for="maxParticipants" class="form-label">Max
                                                            Participant</label>
                                                        <input type="text" name="maxParticipants" class="form-control"
                                                            id="maxParticipants" maxlength="2" value="30"
                                                            value="{{class['maxParticipants']}}">
                                                        <div class="invalid-feedback">
                                                            Please enter a valid number.
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <label for="sessionTime" class="form-label">Date</label>
                                                        <input type="date" class="form-control" id="sessionTime"
                                                            name="sessionTime" placeholder="" required
                                                            value="{{class['sessionTime'].strftime('%Y-%m-%d')}}">
                                                        <div class="invalid-feedback">
                                                            Please enter a valid date.
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <label for="sessionTime2" class="form-label">Time (Whole hour or
                                                            half only, 5 am to 9 pm)</label>
                                                        <input type="time" class="form-control" id="sessionTime2"
                                                            name="sessionTime2" step="1800" placeholder="" min="05:00"
                                                            max="21:00" required
                                                            value="{{class['sessionTime'].strftime('%H:%M')}}">
                                                        <div class="invalid-feedback">
                                                            Please enter a valid time.
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <label for="pool" class="form-label">Pool</label>
                                                        <select class="form-select" name="pool" id="pool"
                                                            aria-label="pool" required value="{{class['poolID']}}">
                                                            <option disabled readonly>Choose...</option>
                                                            {% for i in poolList%}
                                                            <option value="{{i['poolID']}}">{{i['poolType']}}</option>
                                                            {%endfor%}
                                                        </select>
                                                    </div>

                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Close</button>

                                                    <button type="submit"
                                                        class="btn btn-primary submitButton input-class "
                                                        id="submitButton_{{class['scheduleID']}}">Save changes</button>

                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- finish editing group class -->
                            {%else%}
                            {%endif%}

                            <!-- delete aqua class -->
                            {% if class['bookingActive'] == 1 %}
                            <button type="button" class="btn text-danger px-2 mx-0" data-bs-toggle="modal"
                                data-bs-target="#delete{{class.scheduleID}}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                    class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path
                                        d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                </svg>
                            </button>

                            <div class="modal fade" id="delete{{class.scheduleID}}" data-bs-backdrop="static"
                                data-bs-keyboard="false" tabindex="-1" aria-labelledby="edit_instructor"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="delete_instructor">Delete the class</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="modal-body">
                                                Are you sure you want to delete the class?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Cancel</button>

                                                <a href="{{ url_for('adminDashboardFunc.deleteAquaClass', lessonID=class['scheduleID']) }}"
                                                    type="button" class="btn btn-danger">Delete
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {%else%}
                            <!-- finish deleting group class -->

                            {%endif%}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        let today = new Date().toISOString().split('T')[0];
        document.getElementById('sessionTime').setAttribute('min', today);
    });
    </script>
{% endblock %}