{% extends 'base.html' %}

{% block title %}instructor{% endblock %}

{% block content %}

<div class="container-fluid pt-3 bg-body-tertiary">
    <div class="container">
        <div>
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="{{url_for('adminDashboardFunc.adminDashboard')}}">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Individual Class</li>
                </ol>
            </nav>
        </div>

       
        <!-- go back to dashboard icon -->
        <!-- <div>
            <a href="{{ url_for('adminDashboardFunc.adminDashboard')}}">
                <svg xmlns="http://www.w3.org/2000/svg" class="custom-back" width="30" height="30" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                </svg>
            </a>
        </div> -->

     

        <div class="table-responsive mt-4">
            <table class="table mt-2">
                <thead>
                    <tr>
                        <th>Booking ID</th><th>Instructor</th><th>Customer</th><th>Date</th><th>Duration (min)</th><th>Fee (NZD)</th><th>Booking Time</th><th>Payment ID</th><th>Pool</th> <th>Status</th><th>Operation</th>
                        
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for class in individualList %}
                        <tr>
                            <td>{{class['bookingID']}}</td>
                            <td><a href="{{url_for('adminDashboardFunc.checkProfile',userId= class['instructorID'])}}">{{class['instructorName']}}</a></td>
                            <td><a href="{{url_for('adminDashboardFunc.checkProfile',userId= class['customerID'])}}">{{class['customerName']}}</a></td>
                            <td>{{class['lessonDate']}} {{class['lessonTime']}}</td>
                            <td>{{class['lessonDuration']}}</td>
                            <td>{{class['lessonFee']}}</td>
                            <td>{{class['bookingTime']}}</td>
                            <td>{{class['paymentID']}}</td>
                            <td>{{class['poolName']}}</td>
                            {% if class['bookingActive'] == 1 %}
                            <td>Booked</td>
                            {% else %}
                            <td>Cancelled</td>
                            {% endif %}



        
                            <td>
                                {% if class['bookingActive'] == 1 %}
                                <!-- delete individual class -->
                                <button type="button" class="btn text-danger px-2 mx-0" data-bs-toggle="modal" data-bs-target="#delete_{{class['bookingID']}}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                    </svg>
                                </button>
                            
                                <div class="modal fade" id="delete_{{class['bookingID']}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="edit_instructor" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="delete_instructor">Delete the class</h2>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="modal-body">
                                                    Are you sure you want to delete the class?
                                                </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                <a href="{{ url_for('adminDashboardFunc.deleteIndividualClass', bookingID=class['bookingID']) }}">
                                                    <button type="button" class="btn btn-danger">Delete</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {%else%}
                                {%endif%}
                                <!-- finish deleting individual class -->
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>  
    </div>
</div>

{% endblock %}