{% extends 'base.html' %}

{% block title %}Customer{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
        {% if category == 'error' %}
        <div class="py-1 flash-messages alert alert-danger text-center mb-0" role="alert">
        {% elif category == 'success'%}
        <div class="py-1 flash-messages alert alert-success text-center mb-0" role="alert">
        {% endif %}
            {{ message }}
        </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="container-fluid pt-3 bg-body-tertiary">
    <div class="container">
        <div>
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="{{url_for('adminDashboardFunc.memberDashboard')}}">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Upcoming bookings</li>
                </ol>
            </nav>
        </div>
        <div class="table-responsive mt-4">
            <table class="table mt-2">
                <thead>
                    <tr>
                        <th>Session Name</th><th>Session Date</th><th>Session Time</th><th>Instructor</th><th>Lesson Duration</th><th>Pool</th><th></th> 
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                   {% for booking in upcomingBookings %}
                        <tr>
                            <td>{{ booking['sessionName'] }}</td>
                            <td>{{ booking['sessionTime'].date() }}</td>
                            <td>{{ booking['sessionTime'].time() }}</a></td>
                            <td>{{ booking['firstName']}} {{ booking['lastName'] }}</td>
                            <td>{{ booking['lessonDuration'] }} minutes</td>
                            <td>{{ booking['poolType']}}</td>
                            <!-- Button trigger modal -->
                            <td>
                            <button type="button" class="btn btn-outline-info btn-sm rounded-pill mt-1" data-bs-toggle="modal" data-bs-target="#{{ booking['bookingID']}}">
                                Cancel booking
                            </button>
                            </td>
                            <!-- Modal -->
                            <div class="modal fade" id="{{ booking['bookingID']}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Cancel booking</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="backendForm_{{booking.scheduleID}}" action="{{ url_for('memberDashboardFunc.cancelBookings', bookingID=booking['bookingID']) }}" class="d-none" method="post">
                                            <!-- Include hidden input fields to pass data to the backend -->
                                            <input type="hidden" name="callingPage" value="memberDashboardFunc.upcomingBookings">
                        
                                        </form>
                                    Confirm to cancel the {{booking.sessionName}} on {{ booking.sessionTime }} ?
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" form="backendForm_{{booking.scheduleID}}" class="btn btn-danger">Cancel class</button>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
